<%- include("./head.ejs")%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

        <section id=""  class="clients-say">
    <div class="container">
<div class="row">
    <div class="col-md-6">
        <div class="section-header" style="text-align: left;">
            <span>Select City</span><br>
            <input class="form-control" placeholder="Indore, Madhya Pradesh " type="text">
        </div>
    </div>
    <div class="col-md-2">
        <br>
        <button class="gradient-color btn btn-style">Find Company</button>
    </div>
    <div class="col-md-2">
        <br>

        <button data-toggle="modal" data-target="#myModal" class="gradient-color btn btn-style"> + Add Company</button>
    </div>
    <div class="col-md-2">
        <span>Sort</span><br>
            <select class="form-control" >
                <option value="">Name</option>
                <option disabled value="">Average</option>
                <option disabled value="">Rating</option>
                <option disabled value="">Location</option>
            </select>
    </div>
</div>
        <div class="container mt-20">
            
            
            
            <table id="example">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let row of companylist){ %>
                    <tr>
                        <td>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="whole-box">
                                        <div class="col-md-2">
                                            <div class="logo-div">
                                                <img height="auto" width="80%" src="uploads/logos/<%- row.logo %>" alt="logo">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                                <div class="">
                                                    <span><a href="#"><%- row.companyname %></a></span>
                                                    <br>
                                                    <span class="grey-text">Location : <%- row.location %></span>
                                                    
                                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non. </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2 mt-20">
                                                <a href="/reviews/<%- row._id %>">

                                                    <button class="btn btn-secondary">Detail Review</button>
                                                </a>
                                                <span class="text-small">Founded on : <%- row.foundedon %></span>        
                                                
                                            </div>
                                            
                                        
                                    </div>
                                
                            </div>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            
            
        </div>

    </div>

</section>


	
		<%- include("./footer.ejs")%>


       
    
<center>
   <!-- ================================== -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Company</h4>
        </div>
        
        <form id="myForm" enctype="multipart/form-data" action="/add-companies" method="post">
        <div class="modal-body">
            <div class="form-group">
              <label for="name">Company Name:</label>
              <input type="text" class="form-control" id="companyname" name="companyname" required>
            </div>
            <div class="form-group">
              <label for="email">Location:</label>
              <input type="text" class="form-control" id="location" name="location" required>
            </div>
            <div class="form-group">
              <label for="message">Founded On:</label>
              <input type="date" class="form-control" id="foundedon" name="foundedon" required>
            </div>
            <div class="form-group">
                <label for="message">City:</label>
                <input type="text" class="form-control" id="city" name="city" required>
              </div>

              <div class="form-group">
                <label for="message">Company Logo:</label>
                <input type="file" accept="image" class="form-control" id="logo" name="logo" required>
              </div>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" form="myForm" class="btn btn-primary">Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>
<!-- ----------------------------------------------------- -->
<br><br>
<br><br><br><br>

</center>


<script>
  $(document).ready(function() {
    $('#example').DataTable({
        "paging": false, 
    "info": false, 
    "searching": true 
    });
});
</script>